[submodule "Basil/vendor/spdlog"]
	path = Basil/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "Basil/vendor/GLFW"]
	path = Basil/vendor/GLFW
	url = https://github.com/glfw/glfw.git
	branch = master
